!!! 5
html
  head
    title MailMS
    script(src='http://code.jquery.com/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='http://fonts.googleapis.com/css?family=Titillium+Web:200', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', rel='stylesheet', media='screen')
    style
      .node {
      stroke: #000000;
      stroke-width: 1.5px;
      }
      .link {
      stroke: #999;
      stroke-opacity: 0;
      }

  body
    .row
      .span12.offset2
        br
        center
          h1  Add your email and phone to get started
        br
    .row
      .span12.offset6
        center
          form.navbar-search.pull-left(id= "add_number", name="add_number", action="/sms", method="post")            
            input(type='text', placeholder='Phone Number', name="add_number")
            br
            input(type='text', placeholder='Email Address', name="add_email_address")
            br
            input(type='password', placeholder='Email Password', name="add_email_password")
            br
            button.btn(type='submit') Go