!!! 5
html
  head
    title MailMS
    script(src='http://code.jquery.com/jquery.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/stylesheets/style.css', rel='stylesheet', media='screen')
    style
      .node {
      stroke: #000000;
      stroke-width: 1.5px;
      }
      .link {
      stroke: #999;
      stroke-opacity: 0;
      }

  body
    .row
      .span12.offset2
        br
        br
        br
        br
        center
          h1  Awesome! 
          br
          h2 You should recieve a welcome text to your phone shortly.
        