body {
  padding: 50px;
  background-image: url('../images/grid.png')
}

h1{
	/*font-family: 'Titillium Web', sans-serif;*/
}

h2{
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
}

#circles {
	background-color: #808080;
	padding: 20px;
	color: white;
}

#leaderboard {
	background-color: #808080;
	padding: 20px;
	color: white;

}

#leaderboard a{
	color: #FFD700;
}

#leaderboard p{
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
}

#circles a{
	color: #FFD700;
}

#circles p{
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
}